@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* font-family: 'Poppins', sans-serif;*/


/* CONFIGURAÇÕES PADRÃO */
* {
    padding: 0px;
    margin: 0px;
    list-style: none;
    text-decoration: none;
}

/* HEADER */

header {
    position: fixed;
    z-index: 1;
    width: 100%;
}

#fundo-falso {
    height: 90px;
    width: 100%;
    width: white;
}

#principal-header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
}

#principal-header #logo {
    width: 80px;
}

#principal-header #frase-two {
    width: 50px;
    height: 50px;
}

#principal-header #menu {
    cursor: pointer;
    user-select: none;
}

#options {
    display: none;
    background-color: rgb(245, 241, 241);
    animation: para-baixo 0.2s;
}

#options ul {
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 50px;
    font-family: 'Poppins', sans-serif;
}

#options a {
    color: black;
}

#options a:hover {
    text-decoration: underline;
}

header hr {
    border: none;
    height: 5px;
    background-color: red;
    z-index: 1;
}

/* IMAGEM DO BANNER */
#slider {
    position: relative;
}

#slider img {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 87vh;
    object-fit: cover;
    transition: opacity 800ms;
}

#slider .selected {
    opacity: 1;
}

/* COMPROMETIMENTO */
#comprometimento {
    margin-top: 95vh
}

#comprometimento h1 {
    font-family: 'Poppins', sans-serif;
    color: #d9042b;
    font-size: 45px;
    font-weight: 600;
    text-align: center;
    margin-top: 80px;
}

#comprometimento hr {
    border: none;
    height: 1px;
    background-color: #d9042b;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    display: block;
    width: 300px;
}

#comprometimento p {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    text-align: justify;
    margin-left: 205px;
    margin-right: 205px;
    color: #444444;
    margin-bottom: 30px;
}

#comprometimento #link-a {
    display: flex;
    justify-content: center;

}

#comprometimento a {
    background-color: #df0024;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 18px;
    padding: 25px 45px;
    border-radius: 50px; 
    margin-bottom: 30px;
}

#comprometimento ion-icon {
    font-size: 20px;
    position: relative;
    top: 3px;
}

#comprometimento a:hover {
    background-color: #cf2b46;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 18px;
    padding: 25px 45px;
    border-radius: 50px; 
    margin-bottom: 30px;
}

/* CATALOGO */


/*MEDIA QUERIE PARA QUANDO ESTIVER EM PC*/
@media (min-width:600px) {

    #principal-header #frase-two {
        width: 300px;
        height: 30px;
    } 

}

/*MEDIA QUERIE PARA QUANDO ESTIVER EM CELULAR*/
@media (max-width:600px) {

    #fundo-falso {
        height: 99px;
        width: 100%;
        width: white;
    }

    #options {
        display: none;
        background-color: rgb(245, 241, 241);
        animation: para-baixo 1s;
    }
    
    #options ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        gap: 50px;
        font-family: 'Poppins', sans-serif;
    }
    
    #options a {
        color: black;
    }

    #slider img {
        opacity: 0;
        position: absolute;
        width: 100%;
        height: 85vh;
        object-fit: inherit;
        transition: opacity 800ms;
    }

    /* COMPROMETIMENTO */
    #comprometimento {
        margin-top: 95vh
    }

    #comprometimento h1 {
        font-family: 'Poppins', sans-serif;
        color: #d9042b;
        font-size: 35px;
        font-weight: 600;
        text-align: center;
        margin-top: 80px;
    }

    #comprometimento hr {
        border: none;
        height: 1px;
        background-color: #d9042b;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        margin-bottom: 30px;
        display: block;
        width: 240px;
    }

    #comprometimento p {
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        text-align: justify;
        margin-left: 55px;
        margin-right: 55px;
        color: #444444;
        margin-bottom: 30px;
    }

    #comprometimento #link-a {
        display: flex;
        justify-content: center;

    }

    #comprometimento a {
        background-color: #df0024;
        color: white;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 15px;
        padding: 15px 45px;
        border-radius: 50px; 
        margin-bottom: 30px;
    }

    #comprometimento ion-icon {
        font-size: 20px;
        position: relative;
        top: 3px;
    }

}

@keyframes para-baixo {
    0% {
        transform: translateY(-7px);
    }
    100% {
        transform: translateY(0px);
    }
}

